{{ $cv := index .Site.Data.cv .Site.Language.Lang }}
{{ $person := dict "@context" "https://schema.org" "@type" "Person" }}
{{ with $cv.profile.name }}
  {{ $person = merge $person (dict "name" .) }}
{{ end }}
{{ with $cv.profile.role }}
  {{ $person = merge $person (dict "jobTitle" .) }}
{{ end }}
{{ with $cv.profile.location }}
  {{ $person = merge $person (dict "homeLocation" .) }}
{{ end }}
{{ with $cv.profile.email }}
  {{ $person = merge $person (dict "email" .) }}
{{ end }}
{{ with $cv.profile.url }}
  {{ $person = merge $person (dict "url" .) }}
{{ end }}
{{ with $cv.profile.links }}
  {{ if gt (len .) 0 }}
    {{ $urls := slice }}
    {{ range . }}
      {{ $urls = $urls | append .url }}
    {{ end }}
    {{ $person = merge $person (dict "sameAs" $urls) }}
  {{ end }}
{{ end }}
<script type="application/ld+json">{{ $person | jsonify | safeJS }}</script>
